<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webviewapp"
    android:versionCode="1"
    android:versionName="1.0">
    <application
        android:allowBackup="true"
        android:label="Aparatchiii"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="Aparatchiii"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="webviewapp" />
            <meta-data android:name="android.app.arguments" android:value="" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
